<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    
    <%- include("./partials/navbar.ejs") %> 
    <!-- <%- include("./partials/header.ejs") %> -->
    
    <!-- Main Content -->
    <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/amazon.jpg'); height: 40vh;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
                              
          </div>
        </div>
      </div>
    </div>
  </header>
  <br>
  <!-- Post Content -->
  <!-- header del contingut del bloc -->
  <article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="post-title">Test 2</h2>
                <p>This tutorial cover how to apply the NDVI algoritm and masking the results from Sentinel-2 images using the Google Earth Engine IDE,
                 providing a powerful and fast way to analyze and visualize geospatial data. </p>
                <br>
                <p class="post-meta-blog">BY <a href="/about" style="font-style: oblique;">Josep Andreu Sabaté</a></p>
                <hr>
                <p class="post-meta-blog" style="margin-top: 33px;">PUBLISHED MAY, 2021</p>
            </div>
        </div>
    </div>
  </article>
  <!-- bloc content -->
  
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="article-text">This tutorial cover how to apply the NDVI algoritm and masking the results from Sentinel-2 images using the Google Earth Engine IDE,
                 providing a powerful and fast way to analyze and visualize geospatial data. </p>
                 <p></p>
                 <p></p>
                 <figure>
                   <div>
                     <img src="img/river.jpg" alt="" width="100%">
                   </div>
                   <figcaption>
                     <div>
                      <div style="line-height: 80%;"> 
                      <span class="peu-foto-sup">Lichens, like this in Morley Nelson Snake River Birds of Prey National Conservation Area, are actually several species in one.</span>
                      </div>
                       <div>
                        <span class="peu-foto-inf">Image from Sentinel-2</span> 
                       </div>
                     </div>
                   </figcaption>
                 </figure>
                 <br>
                 <div id="mapid" style="width: 800px; height: 540px; "></div>
                 <h2></h2>
                 <p></p>
                 <p class="article-text">This tutorial cover how to apply the NDVI algoritm and masking the results from Sentinel-2 images using the Google Earth Engine IDE,
                  providing a powerful and fast way to analyze and visualize geospatial data. </p>
                  <br><br>
<pre class="hljs"><code>
  //Filtering and displaying data
  var Filtered_Region = s2coll.filterBounds(Region);
  var Filt_Meta_Reg = Filtered_Region.filterMetadata('CLOUDY_PIXEL_PERCENTAGE', 'less_than',3)
  var Filt_Date_Meta_Reg = Filt_Meta_Reg.filterDate('2017-01-01', '2021-01-01')
  print(Filt_Date_Meta_Reg.size());

  // equal to
  var Filtered_Region2 = s2coll.filterBounds(Region)
    .filterMetadata('CLOUDY_PIXEL_PERCENTAGE', 'less_than',0.5)
    .filterDate('2019-01-01', '2020-01-01');

  //displaying data
  var Image_display = Filtered_Region2.first();
  Map.addLayer(Image_display, param_vis);
</code></pre>        
            </div>
        </div>
    </div>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin="">
</script>
    <%- include("./partials/footer.ejs") %>
    <%- include("./partials/scripts.ejs") %>
</body>
</html>
